/.env
/.ipynb_checkpoints
/wellmum clusters -race.ipynb
/wellmum clusters.ipynb
/wellmum.pdf
/WELLMUM_20230401.xlsx
/WELLMUM_20230514.xlsx
/wellmum_20230609 copy.ipynb
/WELLMUM_20230609.xlsx
*.xlsx
/wellmum_scatters.png
/~$WELLMUM_20230609.xlsx